* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    height: auto;

}
nav {
    background-color: rgb(48, 48, 183);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 15px;
}
h1 {
    color: rgb(61, 61, 159);
}
.main-img {
    width: 100px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    
    
}
p {
    padding: 10px;
}
main {
    width: 500px;
    padding: 10px;
    margin: 10px;
}
aside {
    width: 30rem;
    margin: 1px;
    border: 2px;
    background-color: #eee;
    color: #333;
    position: absolute;
    
}
img {
    width: 200px;
}
p {
    padding: 0;
}
footer {
    margin-top: 1em;
    border-top: 1px solid black;
}
strong {
   cursor: pointer;
   color: darkgreen;
   font-weight: bolder;
   font-family: Sans Regular;
}
/*class selectors*/
.box {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(245, 234, 220);
    border: 1px solid rgba(0, 0, 0, 10%);
    color: #000;
    margin: 0 0 1rem 1rem;

}
.main-img {
    /*addition styling done here*/
    
}
.aside-h2 {
    position: absolute;
    top: 20px;
    left: 80px;
    color: #000;

}
footer {
    text-align: center;
    
}